{% extends 'base.html' %}
{% block content %}
<div class = "container">
         <h2>Create a Container</h2>
            <form action="#" method="post">
                <p>
                    {{ form.containername.label }} 
                    {{ form.containername(size=10) }}<br>
                </p>
                <p>
                    {{ form.containerimage.label }} 
                    {{ form.containerimage(size=20) }}<br>
                </p>
                <p>
                    Detached (-d): {{ form.is_detached }} 
                </p>
                <p>
                    STD Input Open with TTY (-it): {{ form.is_interactive_tty }} 
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            
    </div>
{% endblock %}