{% extends 'base.html' %}
{% block title %}
    Create a docker container - docker UI
{% endblock %}
{% block content %}
<div class = "container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Create a Container</h2>
            <form action="#" method="post">
                <p>
                    {{ form.containername.label }} 
                    {{ form.containername(size=10) }}<br>
                </p>
                <p>
                    {{ form.containerimage.label }} 
                    {{ form.containerimage(size=20) }}<br>
                </p>
                <p>
                    STD Input Open with TTY (-it): {{ form.is_interactive_tty }} 
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        <hr>
        <h2> Todo's </h2>
        <ul>
            <li> Dropdown for existing images </li>
            <li> Option to download an image</li>
            <li> Flash message confirming the creation prior to redirect</li>
        </ul>
            
</div>

{% endblock %}