{% extends 'base.html' %}
{% block title %}
List containers - docker UI
{% endblock %}

{% block content %}

<div class = "container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Container Name</th>
            <th scope="col">Container Image</th>
            <th scope="col">Ports</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        {% for i in containers %}
        <tbody>
            <tr>
                
                <th scope="row"><a href="/{{ i.short_id }}">{{ i.short_id }}</a></th>
                <td>{{ i.name }}</td>
                <td>{{ i.image.tags }}</td>
                <td>{{ i.ports }}</td>
                <td>{{ i.status }}</td>
                <td>
                    <form action={{ url_for('stop_container', id=i.short_id) }} method='post'>
                        {{ form.stop_container(class_="btn btn-primary") }}
                    </form>
                </td>
                <td>
                    <form action={{ url_for('start_container', id=i.short_id) }} method='post'>
                        {{ form.start_container(class_="btn btn-primary") }}
                    </form>
                </td>
                <td>
                    <form action={{ url_for('remove_container', id=i.short_id) }} method='post'>
                        {{ form.remove_container(class_="btn btn-danger") }}
                    </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <hr>
    <h2> Todo's </h2>
    <ul>
        <li> Show message if no containers </li>
        <li> Show Volumes </li>
        <li> Show command of the container</li>
        <li> Flash message on start / stop / delete </li>
    </ul>
{% endblock %}